In [1]:
import csv
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from time import sleep
from bs4 import BeautifulSoup
import re
import json

In [2]:
df = pd.read_csv("data4.csv", encoding = "utf-8")
df = df.drop_duplicates(['title_x'], keep='first')

In [11]:
driver = webdriver.Chrome('chromedriver.exe')

out = pd.DataFrame(columns=['title', 'review_num', 'ratings'])
for i, keyword in enumerate(df['title_x'].tolist()):
    ## 검색창에 관광지명 입력
    driver.get("https://map.kakao.com/?q=" + keyword) 
    time.sleep(1) # 1초 기다림
    driver.implicitly_wait(3) # 3초안에 웹페이지를 로드하면 넘어가거나 3초 기다림
    try:
        review_num = driver.find_element(By.CSS_SELECTOR, '#info\.search\.place\.list > li:nth-child(1) > div.rating.clickArea > a > em').text
        ratings = driver.find_element(By.CSS_SELECTOR, '#info\.search\.place\.list > li:nth-child(1) > div.rating.clickArea > span.score > em').text
        out.loc[i] = [keyword, review_num, ratings]
    except:
        review_num = 0
        ratings = 0.0
        out.loc[i] = [keyword, review_num, ratings]

C:\Users\bjw97\AppData\Local\Temp/ipykernel_14656/4225577338.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [12]:
out.to_csv('ratings.csv')

In [21]:
out[out['review_num']==0]

                                     title review_num ratings
0                                가거도(소흑산도)          0     0.0
1                                   기점·소악도          0     0.0
10                                 반월도·박지도          0     0.0
12                                   복호선착장          0     0.0
18                              송도항(송도선착장)          0     0.0
...                                    ...        ...     ...
19205                 부산 차이나타운특구(상해문.상해거리)          0     0.0
19211                          유치환 우체통 전망대          0     0.0
19216                  친환경 스카이웨이 전망대(이바구길)          0     0.0
19217                        팬스타부산주말원나잇크루즈          0     0.0
19230  유한회사스노우에이치[한국관광 품질인증/Korea Quality]          0     0.0

[2753 rows x 3 columns]